{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Register</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<!-- <body> -->

    <form class="register-form" method="POST">
        <h3>Register Here</h3>
        <hr>
        {% csrf_token %}

        {% for field in form %}
            <div>
                <p>{{ field.label }} : <br> {{ field }}</p>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Register</button>
        <p class="login">Have an account? <a href="{% url 'login' %}">Login!</a></p>
        
        {% if messages %}
            <ul class="molestias">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>

<!-- </body> -->
</html>